body {
    background-color: black;  
}

.post {
    width: 30%;
    display:flex;
    align-items: center;
    margin: auto;
    flex-direction:column;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.post-header {
 display:flex;
 width: 95%;
 align-items: center;
 
}

.html-img-wrapper {
    margin-left: 10px;
    margin-top: 10px;
}

.html-img {
    width: 40%;
    border-radius: 25px;
}

.profile-name {
    margin-left: -67px;
}

.dots{
    margin-left: auto;
}

.post-img{
    text-align: center;
}
.img {
    width:100%;
}

.post-body {
    margin:15px;
    text-align: justify;
}

.post-icons{
    display: flex;
    flex-direction: row;
   
}

.icons-right {
    margin-right: 15px;
    font-size: 30px;

}

.icons-left{
    margin-left: auto;
    font-size: 30px;
}